/* LarGe devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) and (max-width:1199.9px) {
    body{
        background-color: #d9d9d9;
    }
    .menu-off-screen,
    #nav-mobile,
    .menu-hamburguer{
    display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1300px and up) */

@media (min-width: 1300px) {
    body{
        background-color: #d9d9d9;
    }
    .menu-off-screen,
    #nav-mobile,
    .menu-hamburguer{
    display: none;
    }   
}
